body {
    background-color: rgb(211, 195, 205);
   
      }
.container{
    display: flex;  /* Top Rigt (TR) Bottom Left(BL)*/ 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    flex-direction: column; 
    font-family:"Roboto", sans-serif; /* google font family*/   
}

.content{
    margin-top: 00px; /* separation from top parent*/ 
}

.todoInput{    /* defining styles input element*/ 
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 7px;
   }

.submit{
    border-radius: 10px;
    height: 60px;
    width: 106px;
    padding: 7px;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
}

#todoListItems {
    border: 2px solid;
    width: 400px;
    margin: 30px 12px 0 0; 
    background-color:(255, 255, 255, 0.8);
    padding: 10px;
    margin: 1px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0px;
    }
li{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.textDiv {
   margin-left: 15px;
   & span {
    margin-left: 15px;
   }
}

.iconDiv {
    margin-right: 15px;
    & i {
     margin-left: 15px;
    }
}